body{
    background-color: grey
}
.card {
    color:red;
    padding:20px;
    display:grid;
    grid-template-columns: 30% 50% 20%
}

.card div:nth-child(even){
    color:blue;
    background-color: green;
}